body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important; 
  
}



@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Poppins:wght@100;300;400;500;700&display=swap');

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


